---
import '@/styles/globals.css'

import { AdventCalendar } from '@/components/advent-calendar'
import Footer from '@/components/footer.astro'
import Layout from '@/layouts/layout.astro'
---

<Layout title="MentalAdvent - Calendario de Adviento para el Bienestar Mental">
	<div class="min-h-screen bg-gray-50">
		<AdventCalendar client:load />
		<Footer />
	</div>
</Layout>

